#container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 90%;
    height: 80vh;
    margin: auto;
}

thead {
    background-color: grey;
}

tr{
    display: block;
    width: 100%;
}

th,td {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.campagne {
    display: flex;
    flex-direction: row;
    padding: 1vh;
}

.grey{
    background: #e0e4de;
}

.green {
    background: #3e9a10;
}

.modifyIcon {
    font-size : 25px;
}

.modifyIcon:hover {
    color: green;
}