* {
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
}

.back-button {
    width: 2em;
    aspect-ratio: 1;
    margin-right: auto;
}

.main-title {
    margin-right: auto;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn {
    font-size: 1.8rem;
    width: fit-content;
    justify-self: center;
    border: none;
    border-radius: 0.4em;
    padding: 0.25em 2em;
    background-color: hsl(0 0% 77%);
    color: black;
    text-decoration: none;
}

main {
    display: grid;
    gap: 2rem;
}
